:root {
    --primary-color: #b8a1a0;
    --secondary-color: #b59a9a;
    --accent-color: #b87d9b;
    --text-color: #ffffff;
    --background-color: #141417;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 95%;
}

form {
    flex-basis: 20%;
    padding-left: 20px;
}

.third-box {
    box-sizing: border-box; 
    padding: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
}

.prompt-queue, .audio-list {
    flex-basis: 30%;
    max-height: 95vh;
    height:90%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.audio-item {
    width:95%;
    max-width: 95%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--accent-color);
    justify-content: space-between;
    animation: fadeIn 1.8s;
}

.field {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    flex-basis: 0;
    padding: 10px;
    flex-grow: 1;
}

.field label {
    display: block;
    margin-bottom: 0.5em;
    color: var(--text-color); 
    font-size: 1.2em;
    font-weight: 500;
}

.submit-container {
    flex-grow: 1;
    width: 100%;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#submit {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--secondary-color);
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
}

#submit:hover {
    background-color: var(--accent-color);
}

#submit:active {
    background-color: var(--secondary-color);
    transform: scale(0.95);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.input-wrapper textarea {
    resize: none;
    margin-bottom: 10px;
    border-radius: 12px;
}

.input-wrapper #submit {
    align-self: flex-end;
    font-size: 1.2em;
    font-weight: bold;
}

.submit-container input[type="text"] {
    flex-grow: 1;
    margin-right: 1em;
    background-color: var(--opossum);
    border: none;
    border-radius: 0.25em;
    color: var(--cuttlefish);
    padding: 0.5em;
    transition: all 0.3s ease;
}

.submit-container #submit {
    background-color: var(--flamingo);
    color: var(--kitten);
    border: none;
    padding: 0.25em 1.5em; 
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-container #submit:hover {
    background-color: var(--platypus);
}

.submit-container #submit:active {
    background-color: var(--unicorn);
    transform: scale(0.95);
}

.model-melody {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
}

.group {
    display: flex;
    justify-content: space-between;
}

.slider-group {
    padding-bottom: 50px;
    padding-top: 50px;
}

.slider-value {
    background-color: var(--jellyfish);
	color: #F5F5DC;
    width: 40px;
    text-align: center;
    border: 3px;
    border-radius: 20px;
}

.group > div {
    flex-basis: 50%;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.loading {
    background: linear-gradient(-83deg, var(--flamingo), var(--lizard), var(--meerkat));
    background-size: 400% 400%;
    animation: gradient 1.8s ease infinite;
    color: white; /* Change text color so it's readable on the gradient */
}
